<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!--<meta name="viewport" content="initial-scale=1" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">

	<title>Boilerplate</title>

    <link rel="stylesheet" href="stylesheets/vendor.min.css">
    <link rel="stylesheet" href="stylesheets/src.min.css">
    <script src="javascript/vendor.min.js"></script>
    <script src="javascript/src.min.js"></script>


</head>
<body ng-app="boilerplate">
<div ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools" >
                <h2>
                    <span>Boilerplate </span>
                </h2>
            </div>
        </md-toolbar>

        <div ng-view></div>
</div>
</body>
</html>
